/*헤더*/
header {
  border-bottom: 1px solid #ededef;
  margin-top: 20px;
  padding-bottom: 10px;
}

.info-bar {
  padding-left: 9px;
  display: flex;
  justify-content: space-between;
  padding: 0 10 0 10;
}
.info-bar__icons img {
  width: 20px;
}
.info-bar__time {
  font-size: 15px;
  font-weight: bold;
}
.menu-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar__location {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}
.menu-bar__location img {
  width: 15px;
}
.menu-bar__location-icon {
  padding-top: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-bar__icons img {
  width: 25px;
  margin-right: 10px;
}
